{% extends 'base.html' %}
{% block content %}
<style>
  thead tr th {
    text-align: center;
  }
</style>

<div class="jumbotron">
  <div class="container text-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>번호</th><th>제목</th><th>작성자</th>
        </tr>
      </thead>
      <tbody>
        {% for article in article_list %}
        <tr onclick="detail( {{ article.id }} )">
          <td>{{ article.id }}</td>
          <td>{{ article.title }}</td>
          <td>{{ article.user.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!--반복문. 1~10까지 pagenation-->
    <div style='text-align:center;'>
      <ul class='pagination'>
        {% for i in page_info %}
        <li>
          <a href='/article/list/?page={{ i }}'>
            {{ i }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <button onclick="move()" class="btn btn-warning input-lg">글쓰기</button>
  </div>
</div>
<script>
  function detail(n) {
    location = `/article/detail/${n}/`;
  } //자바스크립트 ``(back tick)사용
  function move(){
    //주소 이동
    location = "/article/write/";
  } 
  //단순 이동일 때 location 사용
  //로그인할 땐 사용하면 안됨. form 사용해야 함.
</script>

{% endblock %}