{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
  <div class="container text-center">
    <form method="post" action="/signup/">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email"
        onblur="check()">
        <p id="check-result"></p>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="pwd">
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <button class="btn btn-primary btn-block" id="signup">Sign Up</button>
    </form>
  </div>
</div>

<script>
  function check() {
    email = document.querySelector('#email').value
    //AJAX - Axios, 표준기능 fetch
  const ajax = fetch(
    `http://127.0.0.1:8000/check/?email=${email}`
    );

  ajax.then(function(response) {
    return response.text();
  }).then(function(result) {
    console.log(result);
    document.querySelector('#check-result').innerText =result  //가입가능 or 가입불가
  });
  }
  

</script>
{% endblock %}